$flip-rotateX-start: -135deg;
$flip-rotateX-end: 60deg;
$flip-rotateY: 45deg;
$flip-rotateZ: -11deg;
@keyframes left-flip {
	0% {
		transform: rotateZ($flip-rotateZ) rotateY($flip-rotateY) rotateX($flip-rotateX-start);
	}
	25% {
		transform: rotateZ($flip-rotateZ) rotateY($flip-rotateY) rotateX($flip-rotateX-end);
	}
}

@keyframes right-flip {
	0%, 25% {
		transform: rotateZ(-$flip-rotateZ) rotateY(-$flip-rotateY) rotateX($flip-rotateX-start);
	}
	50% {
		transform: rotateZ(-$flip-rotateZ) rotateY(-$flip-rotateY) rotateX($flip-rotateX-end);
	}
}

.animation-running div {
	animation-play-state: running;

}

.animation-pause div {
	animation-play-state: paused;
}

.animation-end div {
	animation-duration: 0;
}

$animation-duration: 14000ms;
$animation-element-duration: $animation-duration / 4;

.animation-full div {
	animation-duration: $animation-element-duration;
}

$breakpoints: (
	'phone': 320,
	'tablet': 768,
	'desktop': 1024
) !default;

#logo {
	div {
		transition-timing-function: fade-out;
	}
}

@each $device, $breakpoint in $breakpoints {
	.device-#{$device} {

	$size: ($breakpoint/1300);


	$logo-x: 0;
	$logo-y: 0;

	$bulb-z: 80px * $size;


	$logo-w: 600px * $size;
	$logo-h: 500px * $size;

	#logo {
		width: $logo-w;
		height: $logo-h;
		text-align: center;
		position: absolute;
		top: $logo-y;

	}

	@keyframes bulb-#{$device} {
		0%, 50% {
			top: $bulb-z + (80px * $size);
			opacity: 0;
		}
		75% {
			top: $bulb-z;
			opacity: 1;
		}
	}

	$bulb-w: 83px * $size;

	.bulb {
		top: $bulb-z;
		opacity: 1;
		z-index: 1;
		animation-name: bulb-#{$device};
		position: absolute;
		left: $logo-w / 2 - $bulb-w / 2 + (9px * $size);

		img {
			width: $bulb-w;
		}
	}
	$icons-z: 85px * $size;

	@keyframes icon0-#{$device} {
		0%{
			left: $logo-w / 2 - $bulb-w / 2 + (15px * $size);
			top: $icons-z + (100px * $size);
			opacity: 0;
		}
		100% {
			top: $icons-z + (20px * $size);
			left: $logo-w / 2 - $bulb-w / 2 + (-140px * $size);
			opacity: 1;
		}
	}
	@keyframes icon1-#{$device} {
		0%{
			left: $logo-w / 2 - $bulb-w / 2 + (15px * $size);
			top: $icons-z + (100px * $size);
			opacity: 0;
		}
		100% {
			top: $icons-z + (-20px * $size);
			left: $logo-w / 2 - $bulb-w / 2 + (-60px * $size);
			opacity: 1;
		}
	}
	@keyframes icon2-#{$device} {
		0%{
			left: $logo-w / 2 - $bulb-w / 2 + (15px * $size);
			top: $icons-z + (100px * $size);
			opacity: 0;
		}
		100% {
			top: $icons-z + (-20px * $size);
			left: $logo-w / 2 - $bulb-w / 2 + (110px * $size);
			opacity: 1;
		}
	}
	@keyframes icon3-#{$device} {
		0%{
			left: $logo-w / 2 - $bulb-w / 2 + (15px * $size);
			top: $icons-z + (100px * $size);
			opacity: 0;
		}
		100% {
			top: $icons-z + (30px * $size);
			left: $logo-w / 2 - $bulb-w / 2 + (190px * $size);
			opacity: 1;
		}
	}

	#icon0, #icon1, #icon2, #icon3 {
		top: $icons-z;
		opacity: 0;
		z-index: -1;
		position: absolute;
		left: $logo-w / 2 - $bulb-w / 2 + (15px * $size);
		width: $bulb-w - (25px * $size);

		img {
			max-width: 100%;
		}
	}

	#icon0 {
		animation-name: icon0-#{$device};
		top: $icons-z + (20px * $size);
		left: $logo-w / 2 - $bulb-w / 2 + (-140px * $size);
	}
	#icon1 {
		animation-name: icon1-#{$device};
		top: $icons-z + (-20px * $size);
		left: $logo-w / 2 - $bulb-w / 2 + (-60px * $size);
	}
	#icon2 {
		animation-name: icon2-#{$device};
		top: $icons-z + (-20px * $size);
		left: $logo-w / 2 - $bulb-w / 2 + (110px * $size);
	}
	#icon3 {
		animation-name: icon3-#{$device};
		top: $icons-z + (30px * $size);
		left: $logo-w / 2 - $bulb-w / 2 + (190px * $size);
	}

	$flip-h: 80px * $size;
	$flip-w: 248px * $size;
	$flip-z: 115.8px * $size;
	$flip-v: 62px * $size;

	.flip {
		height: $flip-h;
		width: $flip-w;
		z-index: 1000;
		margin: auto;
		position: absolute;
		backface-visibility: hidden;
	}


	.left-flip {
		animation-name: left-flip;
		background: #2e3092;
		top: $flip-z;
		left: $flip-v;
		transform: rotateZ($flip-rotateZ) rotateY($flip-rotateY) rotateX($flip-rotateX-end);
		transform-origin: 100% 100%;
	}

	.right-flip {
		animation-name: right-flip;
		background: #1b75bc;
		top: $flip-z;
		left: $flip-v + $flip-w;
		transform: rotateZ(-$flip-rotateZ) rotateY(-$flip-rotateY) rotateX($flip-rotateX-end);
		transform-origin: 0% 100%;
		z-index: 999;
	}

	$box-z: $flip-h + (113px * $size);
	$box-w: 344px * $size;

	.box {
		top: $box-z;
		position: absolute;
		left: $logo-w / 2 - $box-w / 2 + (10px * $size);
		z-index: 998;

		img {
			width: $box-w;
		}
	}
}
}