@keyframes left-flip {
  0% {
    transform: rotateZ(-11deg) rotateY(45deg) rotateX(-135deg); }
  25% {
    transform: rotateZ(-11deg) rotateY(45deg) rotateX(60deg); } }

@keyframes right-flip {
  0%, 25% {
    transform: rotateZ(11deg) rotateY(-45deg) rotateX(-135deg); }
  50% {
    transform: rotateZ(11deg) rotateY(-45deg) rotateX(60deg); } }

.animation-running div {
  animation-play-state: running; }

.animation-pause div {
  animation-play-state: paused; }

.animation-end div {
  animation-duration: 0; }

.animation-full div {
  animation-duration: 3500ms; }

#logo div {
  transition-timing-function: fade-out; }

.device-phone #logo {
  width: 147.69231px;
  height: 123.07692px;
  text-align: center;
  position: absolute;
  top: 0; }

@keyframes bulb-phone {
  0%, 50% {
    top: 39.38462px;
    opacity: 0; }
  75% {
    top: 19.69231px;
    opacity: 1; } }

.device-phone .bulb {
  top: 19.69231px;
  opacity: 1;
  z-index: 1;
  animation-name: bulb-phone;
  position: absolute;
  left: 65.84615px; }
  .device-phone .bulb img {
    width: 20.43077px; }

@keyframes icon0-phone {
  0% {
    left: 67.32308px;
    top: 45.53846px;
    opacity: 0; }
  100% {
    top: 25.84615px;
    left: 29.16923px;
    opacity: 1; } }

@keyframes icon1-phone {
  0% {
    left: 67.32308px;
    top: 45.53846px;
    opacity: 0; }
  100% {
    top: 16px;
    left: 48.86154px;
    opacity: 1; } }

@keyframes icon2-phone {
  0% {
    left: 67.32308px;
    top: 45.53846px;
    opacity: 0; }
  100% {
    top: 16px;
    left: 90.70769px;
    opacity: 1; } }

@keyframes icon3-phone {
  0% {
    left: 67.32308px;
    top: 45.53846px;
    opacity: 0; }
  100% {
    top: 28.30769px;
    left: 110.4px;
    opacity: 1; } }

.device-phone #icon0, .device-phone #icon1, .device-phone #icon2, .device-phone #icon3 {
  top: 20.92308px;
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 67.32308px;
  width: 14.27692px; }
  .device-phone #icon0 img, .device-phone #icon1 img, .device-phone #icon2 img, .device-phone #icon3 img {
    max-width: 100%; }

.device-phone #icon0 {
  animation-name: icon0-phone;
  top: 25.84615px;
  left: 29.16923px; }

.device-phone #icon1 {
  animation-name: icon1-phone;
  top: 16px;
  left: 48.86154px; }

.device-phone #icon2 {
  animation-name: icon2-phone;
  top: 16px;
  left: 90.70769px; }

.device-phone #icon3 {
  animation-name: icon3-phone;
  top: 28.30769px;
  left: 110.4px; }

.device-phone .flip {
  height: 19.69231px;
  width: 61.04615px;
  z-index: 1000;
  margin: auto;
  position: absolute;
  backface-visibility: hidden; }

.device-phone .left-flip {
  animation-name: left-flip;
  background: #2e3092;
  top: 28.50462px;
  left: 15.26154px;
  transform: rotateZ(-11deg) rotateY(45deg) rotateX(60deg);
  transform-origin: 100% 100%; }

.device-phone .right-flip {
  animation-name: right-flip;
  background: #1b75bc;
  top: 28.50462px;
  left: 76.30769px;
  transform: rotateZ(11deg) rotateY(-45deg) rotateX(60deg);
  transform-origin: 0% 100%;
  z-index: 999; }

.device-phone .box {
  top: 47.50769px;
  position: absolute;
  left: 33.96923px;
  z-index: 998; }
  .device-phone .box img {
    width: 84.67692px; }

.device-tablet #logo {
  width: 354.46154px;
  height: 295.38462px;
  text-align: center;
  position: absolute;
  top: 0; }

@keyframes bulb-tablet {
  0%, 50% {
    top: 94.52308px;
    opacity: 0; }
  75% {
    top: 47.26154px;
    opacity: 1; } }

.device-tablet .bulb {
  top: 47.26154px;
  opacity: 1;
  z-index: 1;
  animation-name: bulb-tablet;
  position: absolute;
  left: 158.03077px; }
  .device-tablet .bulb img {
    width: 49.03385px; }

@keyframes icon0-tablet {
  0% {
    left: 161.57538px;
    top: 109.29231px;
    opacity: 0; }
  100% {
    top: 62.03077px;
    left: 70.00615px;
    opacity: 1; } }

@keyframes icon1-tablet {
  0% {
    left: 161.57538px;
    top: 109.29231px;
    opacity: 0; }
  100% {
    top: 38.4px;
    left: 117.26769px;
    opacity: 1; } }

@keyframes icon2-tablet {
  0% {
    left: 161.57538px;
    top: 109.29231px;
    opacity: 0; }
  100% {
    top: 38.4px;
    left: 217.69846px;
    opacity: 1; } }

@keyframes icon3-tablet {
  0% {
    left: 161.57538px;
    top: 109.29231px;
    opacity: 0; }
  100% {
    top: 67.93846px;
    left: 264.96px;
    opacity: 1; } }

.device-tablet #icon0, .device-tablet #icon1, .device-tablet #icon2, .device-tablet #icon3 {
  top: 50.21538px;
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 161.57538px;
  width: 34.26462px; }
  .device-tablet #icon0 img, .device-tablet #icon1 img, .device-tablet #icon2 img, .device-tablet #icon3 img {
    max-width: 100%; }

.device-tablet #icon0 {
  animation-name: icon0-tablet;
  top: 62.03077px;
  left: 70.00615px; }

.device-tablet #icon1 {
  animation-name: icon1-tablet;
  top: 38.4px;
  left: 117.26769px; }

.device-tablet #icon2 {
  animation-name: icon2-tablet;
  top: 38.4px;
  left: 217.69846px; }

.device-tablet #icon3 {
  animation-name: icon3-tablet;
  top: 67.93846px;
  left: 264.96px; }

.device-tablet .flip {
  height: 47.26154px;
  width: 146.51077px;
  z-index: 1000;
  margin: auto;
  position: absolute;
  backface-visibility: hidden; }

.device-tablet .left-flip {
  animation-name: left-flip;
  background: #2e3092;
  top: 68.41108px;
  left: 36.62769px;
  transform: rotateZ(-11deg) rotateY(45deg) rotateX(60deg);
  transform-origin: 100% 100%; }

.device-tablet .right-flip {
  animation-name: right-flip;
  background: #1b75bc;
  top: 68.41108px;
  left: 183.13846px;
  transform: rotateZ(11deg) rotateY(-45deg) rotateX(60deg);
  transform-origin: 0% 100%;
  z-index: 999; }

.device-tablet .box {
  top: 114.01846px;
  position: absolute;
  left: 81.52615px;
  z-index: 998; }
  .device-tablet .box img {
    width: 203.22462px; }

.device-desktop #logo {
  width: 472.61538px;
  height: 393.84615px;
  text-align: center;
  position: absolute;
  top: 0; }

@keyframes bulb-desktop {
  0%, 50% {
    top: 126.03077px;
    opacity: 0; }
  75% {
    top: 63.01538px;
    opacity: 1; } }

.device-desktop .bulb {
  top: 63.01538px;
  opacity: 1;
  z-index: 1;
  animation-name: bulb-desktop;
  position: absolute;
  left: 210.70769px; }
  .device-desktop .bulb img {
    width: 65.37846px; }

@keyframes icon0-desktop {
  0% {
    left: 215.43385px;
    top: 145.72308px;
    opacity: 0; }
  100% {
    top: 82.70769px;
    left: 93.34154px;
    opacity: 1; } }

@keyframes icon1-desktop {
  0% {
    left: 215.43385px;
    top: 145.72308px;
    opacity: 0; }
  100% {
    top: 51.2px;
    left: 156.35692px;
    opacity: 1; } }

@keyframes icon2-desktop {
  0% {
    left: 215.43385px;
    top: 145.72308px;
    opacity: 0; }
  100% {
    top: 51.2px;
    left: 290.26462px;
    opacity: 1; } }

@keyframes icon3-desktop {
  0% {
    left: 215.43385px;
    top: 145.72308px;
    opacity: 0; }
  100% {
    top: 90.58462px;
    left: 353.28px;
    opacity: 1; } }

.device-desktop #icon0, .device-desktop #icon1, .device-desktop #icon2, .device-desktop #icon3 {
  top: 66.95385px;
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 215.43385px;
  width: 45.68615px; }
  .device-desktop #icon0 img, .device-desktop #icon1 img, .device-desktop #icon2 img, .device-desktop #icon3 img {
    max-width: 100%; }

.device-desktop #icon0 {
  animation-name: icon0-desktop;
  top: 82.70769px;
  left: 93.34154px; }

.device-desktop #icon1 {
  animation-name: icon1-desktop;
  top: 51.2px;
  left: 156.35692px; }

.device-desktop #icon2 {
  animation-name: icon2-desktop;
  top: 51.2px;
  left: 290.26462px; }

.device-desktop #icon3 {
  animation-name: icon3-desktop;
  top: 90.58462px;
  left: 353.28px; }

.device-desktop .flip {
  height: 63.01538px;
  width: 195.34769px;
  z-index: 1000;
  margin: auto;
  position: absolute;
  backface-visibility: hidden; }

.device-desktop .left-flip {
  animation-name: left-flip;
  background: #2e3092;
  top: 91.21477px;
  left: 48.83692px;
  transform: rotateZ(-11deg) rotateY(45deg) rotateX(60deg);
  transform-origin: 100% 100%; }

.device-desktop .right-flip {
  animation-name: right-flip;
  background: #1b75bc;
  top: 91.21477px;
  left: 244.18462px;
  transform: rotateZ(11deg) rotateY(-45deg) rotateX(60deg);
  transform-origin: 0% 100%;
  z-index: 999; }

.device-desktop .box {
  top: 152.02462px;
  position: absolute;
  left: 108.70154px;
  z-index: 998; }
  .device-desktop .box img {
    width: 270.96615px; }
